<div class="jumbotron">
	<h2>About Us</h2>
	<h3>Join the House...</h3>
</div>

<div class="about-text col-md-12 col-lg-12">
<h3>House of Mae sells the finest of vintage wonder gifts.<br><br>Browse our daily changing collection and pick up something otherworldly today!</h3></div>
