h2 {
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

p {
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.showproduct {
	border: 5px solid #FF69B4;
	text-align: center;
	background-color: #D3D3D3;
	color: #000;
	padding: 20px;
}

.parent {
  
}

/* This will style any <img> element in .parent div */
.parent img {
   height: 100%;
   width: 100%;
}

.prodbutton button {
	margin-top:5px;
}